:root {
  --tp-base-background-color: hsla(230, 20%, 11%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(230, 10%, 80%, 1.00);
  --tp-button-background-color-active: hsla(230, 10%, 95%, 1.00);
  --tp-button-background-color-focus: hsla(230, 10%, 90%, 1.00);
  --tp-button-background-color-hover: hsla(230, 10%, 85%, 1.00);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
  --tp-container-background-color: hsla(230, 25%, 16%, 1.00);
  --tp-container-background-color-active: hsla(230, 25%, 31%, 1.00);
  --tp-container-background-color-focus: hsla(230, 25%, 26%, 1.00);
  --tp-container-background-color-hover: hsla(230, 25%, 21%, 1.00);
  --tp-container-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-groove-foreground-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color-active: hsla(230, 28%, 23%, 1.00);
  --tp-input-background-color-focus: hsla(230, 28%, 18%, 1.00);
  --tp-input-background-color-hover: hsla(230, 20%, 13%, 1.00);
  --tp-input-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-label-foreground-color: hsla(230, 12%, 48%, 1.00);
  --tp-monitor-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-monitor-foreground-color: hsla(230, 12%, 48%, 1.00);
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#tweakpane-container {
  position: fixed;
  top: 0;
  height: 100vh;
  bottom: 0;
  right: 10vh;
  display: 'none';
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 25vh;
}

pre#print-area {
  color: #fff;
  position: fixed;
  margin: 0;
  padding: 12px;
  left: 0;
  top: 0;
  font-family: consolas, monospace;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 14px;
}
